<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # No redirigir si es un archivo real o carpeta
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # No redirigir /api (esto va al backend Symfony)
  RewriteCond %{REQUEST_URI} !^/api

  # Todo lo demás a index.html (Angular)
  RewriteRule ^ index.html [L]
</IfModule>
