# 🔧 ARCHIVOS GENERALES
.DS_Store
Thumbs.db

# 🧠 IDEs y configuración local
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# 📦 Node.js
node_modules/
npm-debug.log
yarn-error.log

# 🐘 PHP / Symfony
vendor/
.env
.env.local
.env.*.local
.env.dev
.env.prod
/public/bundles/

# 📂 Angular
/frontend/frontend/node_modules/
/frontend/frontend/dist/
/frontend/frontend/.angular/cache

# ❌ ENVIRONMENTS (sensibles)
frontend/frontend/src/environments/environment.ts
frontend/frontend/src/environments/environment.prod.ts

# 🚫 Coverage / test / tmp
coverage/
tmp/
out-tsc/
bazel-out/
connect.lock
libpeerconnection.log
testem.log
typings/

# 🔧 Misc
.sass-cache/
.history/
